{"MainGraph":true,"SubGraph":true,"BurningTime":true,"MaxThrust":true,"AverageThrust":true,"TotalImpulse":true,"MainGraphName":"MainGraph","SubGraphName":"SubGraph","SubGraphOpacity":85,"UndenoisedGraphOpacity":35,"BurningTimeOpacity":20,"IgnitionDetectionThreshold":5,"BurnoutDetectionThreshold":5,"PrefixOfTimeCSV":0.001,"PrefixOfTimeBIN":1E-06,"SlopeCSV":0.36394252776313896,"InterceptCSV":-84.21138476994008,"SlopeBIN":1,"InterceptBIN":0}